.actions {
    font-size: small;
    list-style: none;
    padding: 0;
}
li.action {
    display: inline-block;
}
.button {
    display: inline-block;
    border-radius: 20px;
    background-color:  var(--secundario);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 6px;
    display: inline-block;
    -webkit-box-shadow: 5px 6px 15px -6px rgba(118,149,176,0.77); 
    box-shadow: 5px 6px 15px -6px rgba(118,149,176,0.77);
}

.button--mail {
    background-color: transparent;
    color: white;
    font-weight: 500;
    box-shadow: none;
    text-align: left;
}

.button--politicas {
    background-color: transparent;
    box-shadow: none;
    height: auto;
    font-size: 14px;
    color: var(--secundario-claro);
}

.button--movil {
    background-color: transparent;
    color: white;
    font-weight: 500;
    box-shadow: none;
    text-align: right;
}

.button--rename {
    background-color: var(--secundario-claro);
}

.button--h {
    color: #c63c6a;
    text-decoration: none;
    padding: 4px 6px;
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none; 
    box-shadow: none;
}

.button--mas {
    background-color: var(--secundario);
    color: white;
    font-size: 14px;
}

.button--rrss {
    font-family:'fontello';
    src: url(/fontello-af7f3f0e/font/fontello.ttf) format('ttf');
    display: inline-flex;
    background: none;
}

a:hover {
    background-color: #c63c6a;
    color: white;
}