:root {
    --primario: #c63c6a;
    --secundario: #2f326b;
    --secundario-claro: #94aedb;
    --terciario: #c74e31;
    --terciario-claro: #e3adad;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    margin: 0;
    background-color: #F7E0DF;
}

header {
    background-color: #c63c6a;
    text-align: left;
    height: auto;
    padding: 20px 15px 30px 0px;
    position: relative;
}

header p,
header h1{
    color: white;
    margin: 0;
}

#eslabon {
    height: 24px;
    width: 100%;
    background-image: url(/imaxes/eslabon-azul.svg);
    background-size: contain;
    bottom: -12px;
    position: absolute;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
}

section {
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

#seccion-asesoramento p {
    border-bottom: 2px solid #666666;
    padding-bottom: 15px;
}
/*
#seccion-asesoramento p::before  {
    content:esto es el after;
}

#seccion-asesoramento p::after  {
    content:esto es el after;
}
*/
#seccion-asesoramento li {
    text-align: right;
    padding-right: 20px;
}

@media (min-width: 1024px) {
    #displays {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    #displays div {
        flex: 1;
    }
    main {
        display: flex;
    }
    main section {
        flex: 1;
    }
}

p {
    font-size: 1.1em;
    margin: 0%;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    margin: 0%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    margin: 0%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    text-align: left;
    text-transform: none;
}

h4 {
    color: #e3adad;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

ul {
    list-style: none;
    padding: 0%;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    text-align: center;
    list-style: none;
    padding-top: 8px;
}

section img {
    width: 192px;
    padding-top: 20px;
}

.item.triangulito {
    width: 30px;
    display: flex;
    flex-grow: 1;
    align-self: baseline;
}

.text-black {
    color: #333333;
    font-weight: 500;
    text-align: right;
}

#test {
    text-align: justify;
    max-width: 570px;
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
}
#test p {
    flex: 2; /* default 0 */
}

#contenedor {
    max-width: 1400px;
    margin: 0 auto;
}

footer {
    background-color: #2f326b;
    border-radius: 40px 40px 0 0;
    margin: 60px auto 0 0;
    text-align: center;
}

footer h2 {
    text-align: center;
    font-size: 60px;
    color: white;
}

footer rrss {
    font-family:'fontello';
    src: url('/fontello-af7f3f0e/font/fontello.ttf') format('ttf');
    display: inline-flex;
}

footer Contacta {
    margin: 0 auto;
    display: inline-flex;
}

footer legal {
    margin: 0 auto;
    display: inline-flex;
}