main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: purple;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
}
main>div {
    background-color: darkgoldenrod;
    color: black;
    height: 100px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
}
h2 {
    color: black;
    margin: 0;
}
.block-1 {
    order: 1;
}
.block-2 {
    order: 4;
}
.block-3 {
    order: 10;
}
.block-4 {
    order: 6;
}