body {
    background-color: cadetblue;
}

.carousel {
    border-color: 1ox solid blueviolet;
    max-width: 400px;
    margin: 0 auto;
}

.parent {
    background-image: url(/public/imaxes/barco.jpg);
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 50px 80px;
    border: 20px solid white;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent .children {
    width: 100%;
    padding: 50px;
    background-color: rgba(194, 177, 221, 0.75);
    position:sticky;
}

#fondo-rede {
    padding-top: 60px;
    display: block;
    width: 100%;
}

img fondo-rede {
    background-size: cover;
    background-repeat: no-repeat;
}